@font-face {
	font-family: Caveat;
	src: url(../fonts/Caveat/Caveat-Regular.ttf);
}
@font-face {
	font-family: Patrick Hand;
	src: url(../fonts/Patrick_Hand/PatrickHand-Regular.ttf);
}

* {
	margin: 0;
}

a {
	text-decoration: none;
}

.side {
	background-image:
	linear-gradient(227deg, rgba(255,255,0,.8), rgba(255,255,0,0) 25%),
	linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 120%),
	linear-gradient(127deg, rgba(0,0,255,0), rgba(0,0,255,.8) 100%);
	background-image:
	url('../images/speckle.png'),
	linear-gradient(227deg, rgba(255,255,0,.8), rgba(255,255,0,0) 25%),
	linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 120%),
	linear-gradient(127deg, rgba(0,0,255,0), rgba(0,0,255,.8) 100%);
	position: fixed;
	height: 100vh;
	width: 14vw;
	z-index: 4;
}

#left-side {
	left:0;
	top:0;
}

#right-side {
	right:0;
	top:0;
}

#header {
	background: #ffffff;
	margin-left: 14vw;
	position: fixed;
	height: 10vw;
	width: 72vw;
	z-index: 3;
}

h1 {
	font-family: 'Patrick Hand';
	text-align: center;
	font-size: 5.5vw;
	line-height: 2;
	color: #ff0000;
	height: 100%;	
}

#fixed-back {
	margin-left: 14vw;
	background: #fff;
	position: fixed;
	height: 100vh;
	width: 72vw;
}

#contents {
	margin-left: 14vw;
	padding-top: 12vw;
	width: 72vw;
}

.row {
	flex-direction: column;
	position: relative;
	display: flex;
	width: 72vw;
}

.anchors, .descriptions {
	justify-content: space-around;
	display: flex;
	margin: auto;
	width: 96%;	
}

.orange, .green, .blue, .purple, .yellow {
	border-radius: 10px;
	background: #ffffff;
	position: relative;
	overflow:hidden;
	height: 15vw;
	width: 20vw;
	z-index: 2;
}
.orange {
	border: 3px solid #f49d57;
}
.green {
	border: 3px solid #c5ef41;
}
.blue {
	border: 3px solid #acc7ee;
}
.purple {
	border: 3px solid #ab8cf3;
}
.yellow {
	border: 3px solid #f2eb0d;
}
.orange:hover, .green:hover, .blue:hover, .purple:hover, .yellow:hover {
	cursor: pointer;
}

.o-top, .g-top, .b-top, .p-top, .y-top {
	padding-bottom: 0.8vw;
	font-family: Caveat;
	text-align: center;
	position: relative;
	line-height: 120%;
	font-size: 3vw;
	color: #ffffff;
	height: 20%;
	z-index: 1;
}
.o-top {
	background: #f49d57;
}
.g-top {
	background: #c5ef41;
}
.b-top {
	background: #acc7ee;
}
.p-top {
	background: #ab8cf3;
}
.y-top {
	background: #f2eb0d;
}

.image-holder {
	position: relative;
	height: 75%;
}
.image {
	position: relative;
	opacity : 0.85;
	height: 100%;
	width: 100%;
}

.description {
	width: calc(20vw + 6px);	
	margin-bottom: 5vh;
	padding-top: 2.5vh;
	font-size: 1.1vw;
	line-height: 1.4;
}

.text {
	font-family: sans-serif;
	text-align: justify;
	color: #4d4d4d;
	margin: auto;
	width: 96%;
}
